<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ltudql1.Properties.Settings.QLTracNghiemConnectionString"
            connectionString="Data Source=DESKTOP-AV9FG7R;Initial Catalog=QLTracNghiem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>